<div class="meet-page-container">
    <section class="hero-section">
        <div class="background-image">
            <img src="../../assets/images/fox_team.jpg" alt="Meet Background">
            <!-- Add icons with positioning -->
            <div class="team-icons">
                <div *ngFor="let member of teamMembers; let i = index"
                     class="team-icon"
                     [style.top]="getIconPosition(i).top"
                     [style.left]="getIconPosition(i).left"
                     [@iconFade]="isIconActive(i) ? 'visible' : 'hidden'">
                    <img src="../../assets/images/fox_ears.png" alt="Fox Ears Icon" class="icon-image">
                </div>
            </div>
        </div>
        <div class="hero-content">
            <div class="text-container">
                <div class="gray-overlay-box">
                    <div class="main-text">
                        <h1>
                            <span class="crafting">Meet The Foxes</span>
                            <div class="dynamic-text">
                                <span [@wheelRotate]="animationState">
                                    {{ currentText }}
                                </span>
                            </div>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>