<!-- footer.component.html -->
<footer class="footer">
  <img src="../../assets/images/lets_get_social.png" alt="let's get social graphic" class="footer-graphic">
    <nav class="nav-buttons">
      <div class="social-icons">
        <a href="https://www.tiktok.com/@slyfoxcollective" target="_blank" class="social-link">
          <img src="../../assets/images/tik_tok_icon.png" alt="Tik Tok" class="social-icon">
        </a>
        <a href="https://www.instagram.com/slyfoxcollective/" target="_blank" class="social-link">
          <img src="../../assets/images/instagram_icon.png" alt="Instagram" class="social-icon">
        </a>
        <a href="https://www.linkedin.com/company/slyfox-collective/" target="_blank" class="social-link">
          <img src="../../assets/images/linkedin_icon.png" alt="LinkedIn" class="social-icon">
        </a>
      </div>
    </nav>
  </footer>