<div class="social-page-container">
    <h1>Connect With Us</h1>
    <p>We're so excited that you want to do business with us!</p>
    <p>
      For all business inquiries please contact us at
      <span class="copy-email-btn email-address" (click)="copyEmail()" title="Click to copy to clipboard">hello&#64;slyfoxcollective.com</span>,
      find us everywhere else at the links below!
    </p>


  <!-- Social Media Links Section -->
  <section class="social-links-section">
    <div class="social-links-wrapper">
      <a href="https://www.instagram.com/slyfoxcollective/" class="social-link instagram">Instagram</a>
      <a href="https://www.linkedin.com/company/slyfox-collective/" class="social-link linkedin">LinkedIn</a>
      <a href="https://www.tiktok.com/@slyfoxcollective"  class="social-link tiktok">TikTok</a>
    </div>
  </section>
</div>