<header class="header">
    <nav class="nav-buttons">
      <div class="left-buttons">
        <button class="nav-button" routerLink="/meet">Meet the Foxes</button>
        <button class="nav-button" routerLink="/services">Services</button>
      </div>
      
      <div class="logo-container">
        <a routerLink="/landing" class="logo-link">
          <img src="../../assets/images/slyfoxLogoScreenVersion.png" class="logo" alt="Sly Fox Logo">
        </a>
      </div>
      
      <div class="right-buttons">
        <button class="nav-button" routerLink="/gallery">Gallery</button>
        <button class="nav-button" routerLink="/connect">Connect</button>
      </div>
    </nav>
  </header>