<div class="services-page-container">
    <section class="hero-section">
        <div class="background-image-service">
            <div class="background-image-service">
                <img src="../../assets/images/services_background_lowres.jpg" alt="Services Background">
            </div>
        </div>
        <div class="hero-content">
            <div class="text-container">
                <div class="orange-overlay-box">
                    <div class="main-text">
                        <h1>
                            <span class="services-banner">services</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>