<div class="services-page-container">
<section class="hero-section">
    <div class="hero-image">
        <img src="../../assets/images/services_background_lowres.jpg" alt="Elite Event">
    </div>
    <div class="hero-content">
        <div class="text-container">
            <div class="orange-overlay-box">
                <div class="main-text">
                    <h1>
                        <span class="services-banner">services</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Crafting Clever Title -->
<section class="title-section">
    <p class="crafting">crafting clever</p>
</section>

<!-- Events Section -->
<section class="services-section events">
    <div class="services-container">
        <div class="card-title crafting">events</div>
        <ul>
            <li>Corporate events of all sizes</li>
            <li>Team retreats</li>
            <li>Private parties</li>
            <li>Conventions</li>
            <li>Weddings</li>
        </ul>
        <div class="service-images">
            <img src="../../assets/images/event_bar.jpg" alt="Event Bar">
            <img src="../../assets/images/tables.jpg" alt="Event Table">
        </div>
    </div>
</section>

<!-- Corporate Gifting Section -->
<section class="services-section gifting">
    <div class="services-container">
        <div class="card-title crafting">corporate gifting</div>
        <ul>
            <li>Custom PR gifts and affiliate gifts</li>
            <li>Personalized recognition gifts</li>
            <li>Branded, custom packaging</li>
            <li>Corporate recognition installations</li>
        </ul>
        <div class="service-images">
            <img src="../../assets/images/recognition_box_closed_54.jpg">
            <img src="../../assets/images/recognition_box_open_54.jpg">
        </div>
    </div>
</section>
</div>